.qoute_heading1 {
    height: 40px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 16px;
    /* font-size: 18px; */
    /* font-family: regular !important; */
    font-size: 18px !important;
    color: #787878!important;
    font-weight: 500;
    margin-bottom: -18px;
}
.form_inner1 {
    box-shadow: none !IMPORTANT
}
.qoute_heading1::after {
    position: absolute;
    content: "";
    width: 50px;
    height: 3px;
    background-color: #000;
    left: calc(50% - 25px);
    margin-top: 38px;
}

.carousel-inner img {
	width: 100%;
	height: 100%
}

.custom-container {
	margin-bottom: -5px
}

.owl-item {
	margin-right: 0!important
}

.account_button_block {
	position: relative;
	z-index: 9999
}

a.d-inline-block>img {
	height: 100%
}

a.d-inline-block {
	height: 100%
}

@font-face {
	font-family: FilosofiaItalic;
	src: url(../fonts/FilosofiaItalic.html);
	src: url(../fonts/FilosofiaItalicd41d.html?#iefix) format("embedded-opentype"), url(../fonts/FilosofiaItalic-2.html) format("woff2"), url(../fonts/fonts/FilosofiaItalic.html) format("woff"), url(../fonts/FilosofiaItalic-3.html) format("truetype"), url(../fonts/FilosofiaItalic-4.html#FilosofiaItalic) format("svg");
	font-weight: 400;
	font-style: italic;
	font-display: swap
}

@font-face {
	font-family: Iowan;
	font-style: normal;
	font-weight: 400;
	src: local("Iowan"), url(../fonts/iowan/iowan-old-style.html) format("woff");
	font-display: swap
}

@font-face {
	font-family: Iowan-Italic;
	font-style: normal;
	font-weight: 400;
	src: local("Iowan-Italic"), url(../fonts/iowan/iowan-italic.html) format("woff");
	font-display: swap
}

@font-face {
	font-family: Iowan-Bold;
	font-style: normal;
	font-weight: 400;
	src: local("Iowan-Bold"), url(../fonts/iowan/iowan-bold.html) format("woff");
	font-display: swap
}

@font-face {
	font-family: Iowan-BoldItalic;
	font-style: normal;
	font-weight: 400;
	src: local("Iowan-BoldItalic"), url(../fonts/iowan/iowan-bold-italic.html) format("woff");
	font-display: swap
}

@font-face {
	font-family: Iowan-Black;
	font-style: normal;
	font-weight: 400;
	src: local("Iowan-Black"), url(../fonts/iowan/iowan-black.html) format("woff");
	font-display: swap
}

@font-face {
	font-family: Iowan-BlackItalic;
	font-style: normal;
	font-weight: 400;
	src: local("Iowan-BlackItalic"), url(../fonts/iowan/iowan-black-italic.html) format("woff");
	font-display: swap
}

@font-face {
	font-family: Cormorant-Bold;
	font-style: normal;
	font-weight: 400;
	src: local("CormorantSC-Bold"), url(../fonts/cormorant/CormorantSC-Bold.html) format("ttf");
	font-display: swap
}

@font-face {
	font-family: Cormorant-Light;
	font-style: normal;
	font-weight: 400;
	src: local("CormorantSC-Light"), url(../fonts/cormorant/CormorantSC-Light.html) format("ttf");
	font-display: swap
}

@font-face {
	font-family: Cormorant-Medium;
	font-style: normal;
	font-weight: 400;
	src: local("CormorantSC-Medium"), url(../fonts/cormorant/CormorantSC-Medium.html) format("ttf");
	font-display: swap
}

@font-face {
	font-family: Cormorant-Regular;
	font-style: normal;
	font-weight: 400;
	src: local("CormorantSC-Regular"), url(../fonts/cormorant/CormorantSC-Regular.html) format("ttf");
	font-display: swap
}

@font-face {
	font-family: Cormorant-SemiBold;
	font-style: normal;
	font-weight: 400;
	src: local("CormorantSC-SemiBold"), url(../fonts/cormorant/CormorantSC-SemiBold.html) format("ttf");
	font-display: swap
}

body,
html {
	height: 100%
}

.mobile-visible {
	position: absolute;
	top: -3000px
}

body {
	display: flex;
	flex-direction: column;
	font-size: 14px;
	color: #666
}

button:focus {
	outline: 0
}

.color-000 {
	color: #000
}

.color-111 {
	color: #111
}

.color-222 {
	color: #222
}

.color-333 {
	color: #333
}

.color-444 {
	color: #444
}

.color-555 {
	color: #555
}

.color-666 {
	color: #666
}

.color-777 {
	color: #777
}

.color-888 {
	color: #888
}

.color-999 {
	color: #999
}

.font-weight-600 {
	font-weight: 600
}

.font-weight-700 {
	font-weight: 700
}

.font-weight-800 {
	font-weight: 800
}

button:focus,
input:focus {
	outline: 0
}

.btn {
	font-size: 14px
}

a:hover {
	text-decoration: none
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	-ms-appearance: none;
	-moz-appearance: none;
	appearance: none;
	margin: 0
}

input[type=number] {
	-moz-appearance: textfield
}

.navbar-light .nav-link {
	color: #7b7b7b;
	transition: .5s ease all
}

.navbar-light .nav-link:hover {
	color: #333;
	transition: .5s ease all
}

.custom-nav-fix {
	position: fixed;
	width: 1400px;
	max-width: 1140px;
	top: 0;
	left: 50%;
	z-index: 3;
	transform: translate(-50%, 0)
}

.logo-image img {
	width: 210px
}

.big-logo.logo-image img {
	width: 250px
}

.custom-nav-fix .logo-image img {
	width: 200px
}

.navbar-submenu {
	position: fixed;
	width: 100%;
	left: 0;
	background-color: #fff;
	z-index: 1000;
	border-top: 1px solid #ededed;
	margin-top: -1px;
	padding: 37px 0;
	text-align: left;
	opacity: 0;
	visibility: hidden;
	transform: translate(0, 30px);
	transition: .3s all ease-in-out
}

.navbar-submenu ul li {
	text-transform: uppercase;
	font-size: 12px
}

.navbar-submenu ul li:not(:last-child) {
	margin-bottom: 15px
}

.navbar-submenu ul li a {
	color: #7b7b7b;
	transition: .5s ease all
}

.navbar-submenu ul li a:hover {
	color: #333;
	transition: .5s ease all
}

.navbar-mainmenu.navbar-mainmenu--active {
	color: #333
}

.hidden {
	display: none;
	visibility: hidden;
	opacity: 0
}

.font {
	font-family: FilosofiaItalic;
	font-style: italic
}

.jewellery-text {
	font-family: FilosofiaItalic;
	font-size: 36px;
	font-style: italic
}

.account {
	white-space: nowrap;
	font-size: 12px;
	color: #333;
	z-index: 1;
	z-index: 999999 !important;
	position: relative;
}

.account a {
	color: #7b7b7b;
	font-size: 18px
}

.account a:hover {
	color: #000;
	transition: .5s ease all
}

.account a:hover img {
	filter: grayscale(1)
}

.account img {
	width: 22px
}

.navbar-expand-md .navbar-nav .nav-link {
	font-size: 12px;
	padding-top: .25rem;
    padding-bottom: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.bg-black {
	background: #000
}

.bg-666 {
	background: #666
}

.bg-777 {
	background: #777
}

.banner-caption {
	top: 41%;
	width: 480px;
	left: 7%;
	font-family: FilosofiaItalic
}

.banner-caption h3 {
	font-size: 40px;
	font-style: italic
}

.navbar-dropdown:hover .dropdown-menu {
	display: block
}

.dropdown-menu a {
	color: #7b7b7b;
	font-size: 12px
}

.bg-img {
	height: 100%;
	width: 100%
}

.products .item {
	border: solid 1px #d6d6d6
}

.products .owl-nav {
	position: absolute;
	top: 40%;
	width: 100%
}

.products .item .fav button {
	border: none;
	background: 0 0;
	position: absolute;
	outline: 0
}

.products .item .fav {
	position: absolute;
	top: 10px;
	width: 40px;
	height: 40px;
	right: 2px
}

.products .owl-prev {
	position: absolute;
	left: 0;
	left: -20px
}

.products .owl-next {
	position: absolute;
	right: 0;
	right: -20px
}

.products .owl-next span,
.products .owl-prev span {
	width: 30px;
	height: 35px;
	display: block;
	font-size: 28px;
	line-height: 28px;
	background: #fff;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, .3)
}

.bigimg {
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
	transform: scale(.5);
	transition: .2s all ease;
	top: 0;
	left: 0;
	pointer-events: none
}

.bigimg span {
	position: absolute;
	bottom: 10px;
	width: 100%;
	text-align: center
}

.img-fluid1 {
	width: 100%
}

.img-hover {
	cursor: pointer;
	transition: .2s all ease
}

.products .img-hover:hover .bigimg {
	opacity: 1;
	transform: scale(1);
	z-index: 1;
	background: #f0f0f0;
	transition: .2s all ease;
	pointer-events: auto
}

.products .img-hover:hover .bigimg img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%!important
}

.products .img-no-hover:hover .bigimg .fav {
	opacity: 1;
	z-index: 2;
	background: #f0f0f0;
	transition: .2s all ease;
	pointer-events: auto
}

.products .img-no-hover:hover .fav img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%)
}

.products .img-no-hover .no-hover-fav button {
	padding: 0
}

.products .img-no-hover .no-hover-fav {
	position: absolute;
	right: 15px;
	top: 15px;
	opacity: 0
}

.products .img-no-hover:hover .no-hover-fav {
	opacity: 1
}

.products .img-no-hover:hover .bigimg {
	opacity: 0
}

.searchbar input {
	padding-left: 30px!important;
	width: 221px
}

.searchbar:before {
	position: absolute;
	content: "";
	width: 30px;
	height: 100%;
	top: 50%;
	transform: translate(0, -50%);
	background: url(../images/search.svg) no-repeat center;
	background-size: 20px;
	opacity: .5
}

.products .fav {
	position: absolute;
	top: 15px;
	right: 15px
}

.products .img-hover .no-hover-fav {
	display: none
}

.products .fav button {
	border: none;
	background: 0 0;
	outline: 0
}

.font-15 {
	font-size: 16px
}

.social-icons svg {
	color: #7d7d7d
}

.social-icons svg:hover {
	color: #000
}

.footer-fluid .footer-links {
	font-size: 12px !important;
	color: #666 !important;
    transition: .5s ease all;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji" !important;
}

.footer-fluid .footer-links:hover {
	color: #000;
	transition: .5s ease all
}

.footer-row .scheme-img {
	width: 40px
}
.footer svg {
    font-size: 14px;
}
.footer-row .loyalty-img {
	width: 40px
}

.footer-row .career-img {
	width: 40px
}

.pay-online-btn {
	font-size: 12px;
	padding: 2px 6px;
    opacity: .6;
    display: initial !important;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji" !important;
}

.footer-fluid .footer-links::after {
	position: absolute;
	content: "";
	width: 1px;
	height: 80%;
	right: 0;
	top: 50%;
	transform: translate(0, -50%);
	background: #999
}

.footer-fluid .footer-links:last-child::after {
	content: none
}

.pointer {
	cursor: pointer
}

.filter-by-heading {
	color: #333;
	font-family: FilosofiaItalic;
	font-size: 20px
}

.news-sub {
	font-size: 16px
}

.clear-filters-btn {
	font-size: 12px;
	padding: 1px 6px
}

.enquire-btn {
	padding: 0 6px
}

.filter-heading {
	color: #666
}

.filter-heading:after {
	position: absolute;
	content: "";
	width: 8px;
	height: 8px;
	-webkit-transition: background .1s ease;
	transition: background .1s ease;
	border-width: 0 1px 1px 0;
	-webkit-transform: translate(0, -50%) rotate(45deg);
	transform: translate(0, -50%) rotate(45deg);
	bottom: auto;
	right: 5px;
	top: 50%;
	border-style: solid;
	border-color: #666
}

.options-checkbox {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
	color: #666
}

.options-checkbox input {
	position: absolute;
	opacity: 0;
	display: none
}

.options-checkbox .custom-checkbox,
.options-checkbox .custom-radio {
	position: relative;
	display: inline-block;
	min-width: 18px;
	height: 18px;
	margin-right: 10px;
	border-radius: 2px;
	border: 1px solid #deeaee
}

.options-checkbox .custom-radio {
	border-radius: 50%
}

.options-checkbox input:checked~.custom-checkbox,
.options-checkbox input:checked~.custom-radio {
	background: #21c17a;
	border: 1px solid #21c17a
}

.custom-checkbox:after,
.custom-radio:after {
	content: "";
	position: absolute;
	display: none
}

.options-checkbox input:checked~.custom-checkbox:after,
.options-checkbox input:checked~.custom-radio:after {
	display: block
}

.options-checkbox .custom-checkbox:after {
	top: calc(50% - -1px);
	left: calc(50% - 4px);
	transform: rotate(-45deg);
	width: 8px;
	height: 4px;
	border-left: 2px solid #fff;
	border-bottom: 2px solid #fff;
	background: 0 0;
	-webkit-transform-origin: left top;
	transform-origin: left top;
	-webkit-animation: checkAnimation .2s;
	animation: checkAnimation .2s
}

@-webkit-keyframes checkAnimation {
	0% {
		height: 0;
		width: 0
	}
	50% {
		height: 4px;
		width: 0
	}
	to {
		height: 4px;
		width: 8px
	}
}

@keyframes checkAnimation {
	0% {
		height: 0;
		width: 0
	}
	50% {
		height: 4px;
		width: 0
	}
	to {
		height: 4px;
		width: 8px
	}
}

.options-checkbox .custom-radio:after {
	border-radius: 50%;
	height: 6px;
	width: 6px;
	background: #fff;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%)
}

.filter-type {
	border-bottom: 1px solid #d1d1d1
}

.products-list .fav button {
	border: none;
	background: 0 0;
	outline: 0
}

.products-list .fav {
	position: absolute;
	top: 10px;
	height: 30px;
	width: 30px;
	right: 10px;
	opacity: 0;
	display: flex;
	align-items: center;
	justify-content: center
}

.products-list .fav img {
	width: 20px
}

.products-list:hover {
	box-shadow: 0 0 0 0 rgba(0, 0, 0, .2), 0 2px 10px 0 rgba(0, 0, 0, .19);
	transition: .5s ease all
}

.products-list:hover .fav {
	opacity: 1;
	z-index: 1;
	transition: .5s ease all
}

.jewellery-image {
	transition: .5s ease all
}

.products-list:hover .jewellery-image {
	transform: scale(1.2);
	transition: .5s ease all
}

.price-section span {
	margin: 0 2px;
	font-weight: 800
}

.price-section svg {
	font-size: 10px;
	margin-right: 5px
}

.price-section .old-price {
	text-decoration: line-through
}

.products-single .fav {
	position: absolute;
	top: 10px;
	height: 20px;
	width: 20px;
	right: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1
}

.products-single .fav img {
	width: 20px
}

.easyzoom-flyout {
	height: 500px!important;
	width: 715px!important
}

.collection-name {
	font-size: 16px;
	color: #222
}

#collection-slider a {
	display: block;
	border: 1px solid #dadada
}

#collection-slider a:hover {
	border-color: #959595!important
}

#collection-slider .owl-nav [class^=owl-] {
	color: #999;
	height: 100%;
	position: absolute;
	top: 50%;
	transform: translate(0, -50%)
}

#collection-slider .owl-nav .owl-prev {
	left: -15px
}

#collection-slider .owl-nav .owl-next {
	right: -15px
}

.collection-details-heading {
	font-weight: 600;
	color: #222
}

#enquiryModal input {
	font-size: 14px
}

.similar-products-heading {
	font-weight: 600
}

#similar-products-slider .owl-nav [class^=owl-] {
	opacity: .5;
	height: 100%;
	position: absolute;
	top: 50%;
	transform: translate(0, -50%)
}

#similar-products-slider .owl-nav [class^=owl-].disabled img {
	opacity: .2;
	cursor: not-allowed
}

#similar-products-slider .owl-nav [class^=owl-] img {
	width: 20px
}

#similar-products-slider .owl-nav .owl-prev {
	transform: translate(0, -50%) rotate(180deg);
	left: 0
}

#similar-products-slider .owl-nav .owl-next {
	right: 0
}

.aboutus-heading {
	font-size: 16px;
	font-weight: 800;
	margin-bottom: 10px
}

.aboutus-description,
.news-description,
.team-description {
	color: #666
}

.team-member-name {
	color: #333;
	text-transform: uppercase
}

.team-member-position {
	color: #666;
	font-size: 12px
}

.linkedin-link {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 28px;
	height: 28px;
	background: #0e76a8
}

#enquirySubmitBtn {
	padding: 1px 6px
}

.view-profile {
	font-size: 12px;
	color: #888
}

.team-image img {
	padding: 30px 30px 0
}

.form-control {
	font-size: 14px
}

.google-map {
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden
}

.google-map iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%
}

.news-headding {
	font-weight: 600
}

.news-grid {
	transition: .5s ease all
}

.news-grid:hover {
	box-shadow: 0 0 0 0 rgba(0, 0, 0, .2), 0 2px 10px 0 rgba(0, 0, 0, .19);
	transition: .5s ease all
}

.news-grid-image {
	padding-bottom: 74.25%
}

.news-date {
	font-size: 12px
}

.share-icon {
	color: #666;
	cursor: pointer;
	padding: 0 10px;
	z-index: 1;
	transition: .5s ease all
}

.share-list {
	position: absolute;
	background: rgba(0, 0, 0, .8);
	bottom: 100%;
	left: 50%;
	transform: translate(-50%, 0);
	opacity: 0;
	z-index: 3
}

.share-list a {
	font-size: 14px;
	color: #fff
}

.share-icon:hover .share-list {
	opacity: 1;
	bottom: 100%;
	transform: translate(-50%, 0);
	transition: .5s ease all
}

.share-list li:not(:last-child) {
	margin-right: 2px
}

.news-single-image {
	padding-bottom: 56.25%
}

.scheme-image {
	padding-bottom: 56.25%;
	overflow: hidden
}

.scheme-image img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%)
}

.feedback-section {
	height: 0;
	position: fixed;
	bottom: 0!important;
	background-color: #f06b7c;
	color: #fff !important;
	text-align: center;
	width: 100%;
	left: 0;
	z-index: 9999
}

.feedback-section span:nth-child(1) {
	line-height: 70px;
	font-size: 17px
}

@media (min-width:1480px) {
	.container,
	.custom-nav {
		max-width: 1400px
	}
	.banner-caption {
		top: 37%;
		width: 590px;
		left: 7%;
		font-family: FilosofiaItalic
	}
	.banner-caption h3 {
		font-size: 45px;
		font-style: italic
	}
}

@media only screen and (min-width:1200px) {
	.big-logo.logo-image img {
		width: 280px
	}
	.custom-nav-fix .logo-image img {
		width: 250px
	}
	.logo-image img {
		width: 250px
	}
	.footer-row {
		width: 50%
	}
}

@media only screen and (min-width:1600px) {
	.custom-container {
		max-width: 1400px;
		margin: 0 auto
	}
}

@media only screen and (min-width:992px) {
	.jewellery-text {
		font-size: 26px
	}
}

@media only screen and (max-width:767px) {
	.control_left {
		position: relative!important;
		top: 0!important
	}
	.control_right {
		position: relative!important;
		top: 0!important;
		left: -13px!important
	}
	.custom_carousel {
		max-width: 100%!important
	}
	.single_product_name {
		margin-top: 42px
	}
	.carousel_one {
		margin-top: 0!important
    }
    .collection_slider_one {
        margin-top: 42px !important;
	}
	#collapsibleNavbar .navbar-nav .nav-item {
		padding: 9px 0px;
	}
	.blog {
		margin-top: 41px !important;
	}
	#collection_list {
		padding-left: 15px;
		padding-right: 34px;
	}
	nav.navbar.navbar-expand-md.p-0.nav-menu {
		width: 70%;
	}
	.container-fluid.navbar-fluid.p-0 {
		border-bottom: 1px solid #dee2e6;
		padding-bottom: 9px !important;
		margin-bottom: -9px;
	}
	.container nav.navbar {
		border-bottom:none !important;
	}
}

@media only screen and (max-width:767px) {
	.custom_slider_div {
		padding-left: 16px!important;
		padding-right: 16px!important
	}
}

@media only screen and (min-width:768px) {
	body.navbar-fixed .logo-section {
		position: fixed!important;
		left: 50%;
		transform: translate(-50%, 0);
		z-index: 3
	}
	body.navbar-fixed .account {
		margin: 8px 0
	}
	body.navbar-fixed .navbar-fluid {
		height: 60px!important
	}
	.img-hover {
		position: unset
	}
	.jewellery-text {
		position: absolute
	}
	.sparkling-text {
		height: 50%
	}
	.custom_carousel .view.overlay {
		height: 205px
	}
	.navbar-fixed #collapsibleNavbar {
    		display: none !important;
	}
}

@media only screen and (max-width:1199px) {
	.custom-nav-fix {
		width: 960px
	}
}

@media only screen and (max-width:991px) {
	.banner-caption {
		top: 60%
	}
	.jewellery-text {
		font-size: 26px
	}
	.custom-nav-fix {
		width: 720px
	}
}

@media only screen and (max-width:767px) {
	body.navbar-fixed .big-logo {
		padding-bottom: 0!important
	}
	body.navbar-fixed .nav-menu {
		position: fixed;
		top: 46px;
		z-index: 2;
		align-items: flex-start
	}
	.navbar-toggler-icon {
		background: url(../images/menu-button.svg) center/cover
	}
	.nav-menu {
		flex-direction: column;
		position: absolute;
		top: 56px
	}
	.nav-menu-opened .navbar-collapse,
	.navbar-collapse {
		width: 540px;
        flex: unset;
        padding-bottom: 20px;
	}
	.navbar-toggler {
		margin-right: auto;
		padding-left: 0;
		padding-right: 0
	}
	#collapsibleNavbar {
		background: #fff;
		z-index: 2;
		width: 100%;
	}
	.navbar-submenu {
		position: relative;
		padding: 10px 0;
		display: none
	}
	.navbar-mainmenu:hover .navbar-submenu {
		display: block
	}
	.banner-caption {
		width: auto;
		top: 60%
	}
	.jewellery-text {
		font-size: 24px;
		padding: 50px 30px;
		position: absolute
	}
	.jewellery-image-one {
		background: #fabc9a
	}
	.jewellery-image-two {
		background: #c1d3c5
	}
	.account .d-flex {
		flex-wrap: wrap
	}
	.products .fav {
		right: 0;
		width: auto;
		height: auto;
		z-index: 1
	}
	.product-slider .fav img {
		width: 20px;
		height: 20px
	}
	.mobile-slider img {
		max-width: 65%;
		max-height: 65%;
		margin: auto
	}
	.img-hover {
		overflow: hidden;
		padding: 0
	}
	.custom-nav-fix {
		width: 540px
	}
	.account {
		padding: 6px 15px 6px;
		margin-left: auto;
        margin-top: 0;
        margin-top: 0px !important;
    }
    .navbar-fixed .account {
        margin-top: -40px !important;
    }
	.custom-nav-fix .account {
		margin-top: 0
	}
	.account img {
		width: 22px
	}
	.custom-nav-fix .account img {
		width: 20px
	}
	#collection-slider .owl-nav .owl-prev {
		left: 0
	}
	#collection-slider .owl-nav .owl-next {
		right: 0
	}
	.share-list-single {
		right: 0;
		left: unset;
		transform: translate(0, -10px)
	}
	.share-icon:hover .share-list-single {
		transform: translate(0, 0)
	}
}

@media only screen and (max-width:575px) {
	.nav-menu-opened .navbar-collapse,
	.navbar-collapse {
		max-width: 100% !important;
	}
	.banner-caption h3 {
		font-size: 20px
	}
	.container {
		padding: 0
	}
	body.navbar-fixed .nav-menu {
		width: calc(100% - 110px)
	}
	.nav-menu {
		width: calc(100% - 30px)
	}
	.custom-nav-fix {
		width: 100%
	}
	#contact-us .contact {
		padding-left: 8px;
		padding-right: 8px;
	}
	.collection {
		padding-left: 15px;
		padding-right: 15px;
	}
	.collection_slider_three .no-hover-fav, .collection_slider_two .no-hover-fav {
		right: 4px !important;
		top: 4px !important;
	}
}

@media only screen and (max-width:300px) {
	.side-collection-section {
		padding-left: 5px
	}
}

@media only screen and (max-width:480px) {
	.side-collection-section {
		padding-left: 5px
	}
	.product-block {
		left: 10px!important
	}
}

.headding {
	font-size: 20px;
	color: #000;
	position: relative;
	height: 40px
}

.headding:after {
	position: absolute;
	content: "";
	width: 50px;
	height: 5px;
	background-color: #ed3439;
	bottom: 0;
	left: calc(50% - 25px)
}

.modal-header.user {
	padding: 5px;
	border: none
}

.registration-input {
	height: 35px;
	background: #f5f5f5
}

.registration-heading-text {
	display: block;
	margin-bottom: 5px;
	font-size: 14px;
	font-weight: 700
}

.c-submit-btn {
	left: calc(40% - 25px);
	display: inline-block;
	background: #eeab32;
	width: 200px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	position: relative;
	border-bottom: 4px solid #eee;
	cursor: pointer
}

.c-submit-btn>button {
	height: 46px;
	border: none;
	width: 86%;
	background: #eeab32
}

.c-submit-text {
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase
}

.c-submit-img {
	position: absolute;
	right: -12px
}

.link-href-wrapper {
	color: #2a6496!important;
	cursor: pointer
}

.link-href-wrapper:hover {
	color: #2a6496!important;
	text-decoration: underline
}

@media only screen and (min-width:992px) and (max-width:1199px),
only screen and (max-width:768px) {
	.account-wrapper,
	.registration-wrapper {
		width: 100%
	}
}

.no-fav-available {
	height: 200px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #fff
}

.product-name {
	position: absolute;
	bottom: 10px;
	display: inline-block;
	width: 100%;
	left: 0
}

@media (min-width:576px) {
	.modal-dialog {
		max-width: 400px
	}
}

.modal-content .headding {
	font-family: FilosofiaItalic
}

.registration-heading-text {
	font-weight: 400;
	font-size: 12px
}

.form-control {
	border-radius: 0!important;
	font-size: 12px!important;
	background: 0 0
}

.custom_theme_btn {
	font-size: 12px;
	padding: 2px 6px;
	opacity: .6;
	background: #666;
	color: #fff;
	border: none;
	border-radius: 4px
}

.custom_bottom_links {
	text-align: center
}

.custom_bottom_links a {
	color: #666!important;
	font-size: 12px
}

.custom_bottom_links a:hover {
	color: #000!important
}

.modal-content .close {
	margin-right: -8px!important
}

.headding:after {
	height: 3px;
	background-color: #000
}

.form-control:focus {
	background: 0 0!important;
	border: 1px solid #ced4da!important
}

.filter-heading {
	font-weight: 400!important;
	color: #7b7b7b!important;
	font-size: 13px
}

.options-checkbox {
	font-size: 12px;
	color: #7b7b7b
}

.custom_theme_heading {
	font-family: FilosofiaItalic
}

.theme_character {
	color: #7b7b7b;
	font-size: 12px
}

.theme_charecter_big {
	color: #7b7b7b!important;
	font-size: 13px!important;
	font-family: inherit!important
}

.carousel-item .col-12.col-md-4.col-lg-2.mx-auto {
	margin: 0!important;
	padding: 0;
	min-width: 20%
}

.custom_carousel {
	max-width: 98%;
	margin: 0 auto
}

.control_left {
	position: absolute;
	top: 88px;
	left: -18px
}

.control_right {
	position: absolute;
	top: 88px;
	right: -18px
}

.carousel_one {
	margin-top: 40px
}

.carousel_two {
	margin-top: 25px
}

.filter-type {
	text-transform: capitalize
}

.custom_slider_div {
	padding-left: 17px;
	padding-right: 17px
}

.carousel_one .filter-by-heading.mb-2 {
	margin-bottom: -10px!important
}

.carousel_two .filter-by-heading.mb-2 {
	margin-bottom: -10px!important
}

.custom_carousel .view.overlay img {
	object-fit: cover
}

.custom_carousel .view.overlay {
	display: block!important
}

#scroll_btn {
	display: none
}

@media screen and (min-width:700px) {
	.container-fluid-custom {
		padding-right: 15px;
		padding-left: 15px;
		margin-right: auto;
		margin-left: auto;
		max-width: 1140px
	}
}

@media screen and (max-width:700px) {
	#scroll_btn {
		display: block
	}
}




/*Contact Us page start*/

#contact-us .footer {
    margin-bottom: -3px;
    margin-top: 2px;
}
#contact-us .footer .pb-2 {
    margin-bottom: -8px;
}
#contact-us .py-2.footer-fluid {
    padding-top: 1px !important;
    padding-bottom: 5px !important;
}
#contact-us .footer svg {
    font-size: 14px;
    width: 16.5px;
}
#contact-us .social-icons .wow {
    margin-top: 1px !important;
}

#contact-us .custom-nav {
    padding-top: 3px !important;
}
#contact-us .account_button_block {
    top: 3px;
}
#contact-us .contact {
    margin-top: 8px;
    padding-top: 27px;
    margin-bottom: -25px;
}
#contact-us nav.navbar {
    border-bottom: 1px solid #dee2e6;
    padding-bottom: 8px !important;
}
/*Contact Us page end*/



/*About Us page start*/
#about nav.navbar {
    border-bottom: 1px solid #dee2e6;
    padding-bottom: 8px !important;
}
#about .custom-nav {
    padding-top: 3px !important;
}
#about .account_button_block {
    top: 3px;
}

#about .footer {
    margin-bottom: -3px;
    margin-top: 2px;
}
#about .footer .pb-2 {
    margin-bottom: -8px;
}
#about .py-2.footer-fluid {
    padding-top: 1px !important;
    padding-bottom: 5px !important;
}
#about .footer svg {
    font-size: 14px;
    width: 16.5px;
}
#about .social-icons .wow {
    margin-top: 1px !important;
}
/*About Us page end*/


/*Blog page start*/
#test nav.navbar {
    border-bottom: 1px solid #dee2e6;
    padding-bottom: 8px !important;
    margin-bottom: 16px;
}
.navbar-fixed nav.navbar.navbar-expand-md {
    border-bottom: none !important;
    margin-top: -38px;
}
#test .custom-nav {
    padding-top: 3px !important;
}
#test .account_button_block {
    top: 3px;
}
#test .footer {
    margin-bottom: -2px;
    margin-top: 2px;
}
#test .footer .pb-2 {
    margin-bottom: -8px;
}
#test .py-2.footer-fluid {
    padding-top: 1px !important;
    padding-bottom: 4px !important;
}
#test .footer svg {
    font-size: 14px;
    width: 16.5px;
}
#test .social-icons .wow {
    margin-top: 1px !important;
}
/*Blog page end*/


/*Mask page start*/
#landing-page nav.navbar {
    border-bottom: 1px solid #dee2e6;
    padding-bottom: 8px !important;
}
#landing-page .custom-nav {
    padding-top: 3px !important;
}
#landing-page .account_button_block {
    top: 3px;
}

#landing-page .footer {
    margin-bottom: -3px;
    margin-top: 2px;
}
#landing-page .footer .pb-2 {
    margin-bottom: -8px;
}
#landing-page .py-2.footer-fluid {
    padding-top: 1px !important;
    padding-bottom: 5px !important;
}
#landing-page .footer svg {
    font-size: 14px;
    width: 16.5px;
}
#landing-page .social-icons .wow {
    margin-top: 1px !important;
}
/*Mask page end*/


/*Collection single page start*/
#collection-single nav.navbar {
    border-bottom: 1px solid #dee2e6;
    padding-bottom: 8px !important;
}
#collection-single .custom-nav {
    padding-top: 3px !important;
}
#collection-single .account_button_block {
    top: 3px;
}
#collection-single .footer {
    margin-bottom: -3px;
    margin-top: 2px;
}
#collection-single .footer .pb-2 {
    margin-bottom: -8px;
}
#collection-single .py-2.footer-fluid {
    padding-top: 1px !important;
    padding-bottom: 5px !important;
}
#collection-single .footer svg {
    font-size: 14px;
    width: 16.5px;
}
#collection-single .social-icons .wow {
    margin-top: 1px !important;
}
/*Collection single page end*/


/*Blog page start*/
#blog nav.navbar {
    border-bottom: 1px solid #dee2e6;
    padding-bottom: 8px !important;
}
#blog .custom-nav {
    padding-top: 3px !important;
}
#blog .account_button_block {
    top: 3px;
}
#blog .footer {
    margin-bottom: -3px;
    margin-top: 2px;
}
#blog .footer .pb-2 {
    margin-bottom: -8px;
}
#blog .py-2.footer-fluid {
    padding-top: 1px !important;
    padding-bottom: 5px !important;
}
#blog .footer svg {
    font-size: 14px;
    width: 16.5px;
}
#blog .social-icons .wow {
    margin-top: 1px !important;
}
/*Blog page end*/


/*Blog single page start*/
#blog-single nav.navbar {
    border-bottom: 1px solid #dee2e6;
    padding-bottom: 8px !important;
}
#blog-single .custom-nav {
    padding-top: 3px !important;
}
#blog-single .account_button_block {
    top: 3px;
}
#blog-single .footer {
    margin-bottom: -3px;
    margin-top: 2px;
}
#blog-single .footer .pb-2 {
    margin-bottom: -8px;
}
#blog-single .py-2.footer-fluid {
    padding-top: 1px !important;
    padding-bottom: 5px !important;
}
#blog-single .footer svg {
    font-size: 14px;
    width: 16.5px;
}
#blog-single .social-icons .wow {
    margin-top: 1px !important;
}
/*Blog single page end*/



.bm_line {
    width: 43px;
    height: 4px;
    background: #343A40;
    margin: 0 auto;
    margin-bottom: -13px;
}
.bm_date {
    font-size: 35px !important;
}
.dark_grey {
    color: #343A40 !important;
}
.size_17 {
    font-size: 17px !important;
}
.blog_social {
    margin-top: 33px;
}
.bs_icon {
    margin-top: 16px;
}

.sl_content {
	min-height: 118px;   
}
.container-fluid.navbar-fluid.p-0 {
    z-index: 99999 !important;
}
nav.navbar.navbar-expand-md.p-0.nav-menu {
    z-index: 99999 !important;
}
.navbar-fixed .navbar.navbar-expand-md.p-0.nav-menu.full-nav {
    width: 100%;
}
.container-slider ul {
    top: 0 !important;
}
.page_content img {
    margin: 15px;  
}
.mask {
    margin-top: -19px;
}
.tara-mask {
    background: #080705 !important;
}
.tara-mask .container-fluid.navbar-fluid {
    background: #080705 !important;
}
.tara-mask .navbar-expand-md .navbar-nav .nav-link {
    color: #E1E1E1 !important;
}
.logo_white {
    display: none;
}
.tara-mask .logo_black {
    display: none;
}
.tara-mask .logo_white {
    display: block !important;
    margin: 0 auto;
}
.tara-mask .footer .logo_white {
    width: 340px;
}



.qoute_heading {
    height: 40px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 32px;
}
#popup1 .form_inner {
    box-shadow: none !important;
}
.qoute_heading::after {
    position: absolute;
    content: "";
    width: 50px;
    height: 3px;
    background-color: #000;
    left: calc(50% - 25px);  
    margin-top: 38px;
}
#popup1 textarea {
    border-radius: 0 !important;
    font-size: 12px !important;
}
#popup1 .custom_theme_btn {
    height: 21px;
    line-height: 19px;
    margin-top: 22px;
    margin-bottom: 10px;
}
#popup1 .modal-content .close {
    margin-right: 13px !important;
    margin-top: 5px;
    opacity: 0.9;
    text-decoration: none;
    position: absolute;
    right: 0;
}
.tara-mask #collapsibleNavbar {
    background: #080705;
}
.tara-mask .navbar-nav .dropdown-menu {
    background: #15130e;
}
.navbar-fixed #collapsibleNavbar {
	margin-left: -15px;
	z-index: 99999;
}
#collapsibleNavbar .dropdown-menu .dropdown-item {
	padding: 10px 1.5rem;
}
.tara-mask .social-icons svg:hover {
    color: #fff;
}
.blog_single {
    padding-left: 15px;
	padding-right: 15px;
	overflow: hidden;
	margin-top: 16px;
}
.blog {
    padding-left: 15px;
	padding-right: 15px;
	margin-top: 18px;
}
.custom-nav form {
    z-index: 999999 !important;
}
#collection-single .collection {
    margin-top: 15px;
}
#search_field {
	font-size: 16px;
	padding: 3px 9px !important;
}
/*.account .searchbar-box .searchbar-icon {
    display: inline-block;
    transform: scale(1, 1.5);
    -webkit-transform: scale(1, 1.5);
    -moz-transform: scale(1, 0.6);
    -ms-transform: scale(1, 1.5);
    -o-transform: scale(1, 1.5);
}*/
.custom_filter {
    position: absolute;
    left: 15px;
    top: 9px !important;
    background: #cacaca !important;
    padding: 1px 7px;
    border-radius: 5px !important;
}
.custom_filter.collapsed {
	top: 19px !important;
}
button.custom_filter:hover {
    background-color: #cacaca !important;
}
button.custom_filter:focus {
	box-shadow: none !important;
	background: #cacaca !important;
}
.about_us {
    padding-left: 15px;
    padding-right: 15px;
}
#collection-list .btn.bg-dark.rounded-0.text-white {
    background: #cacaca !important;
    padding: 1px 7px;
    border-radius: 5px !important;
}
#collection-list .btn.bg-dark.rounded-0.text-white:hover {
    background-color: #cacaca !important;
}
#collection-list .btn.bg-dark.rounded-0.text-white:focus {
	box-shadow: none !important;
	background: #cacaca !important;
}
.modal-dialog {
    margin-top: 115px;
}
#registerModal .modal-body {
    max-height: 400px;
    position: relative;
    overflow-y: scroll;
}
.navbar-fixed .container-fluid.navbar-fluid {
    height: 60px !important;
}
.contact_sidebar .sidebar_content {
    line-height: 20px;
}
.collection_slider_three .no-hover-fav, .collection_slider_two .no-hover-fav {
    position: absolute;
    right: 25px;
    top: 20px;
}